language: php
sudo: false

php:
  - 5.6
  - 5.5
  - 5.4

services:
  - mysql
  
before_script:
  - composer self-update
  - composer install --prefer-dist
  - mysql -e "CREATE DATABASE IF NOT EXISTS dbtests DEFAULT CHARACTER SET utf8;" -uroot
  - mysql -e "CREATE TABLE IF NOT EXISTS dbtests.testTable (id INT NOT NULL AUTO_INCREMENT, field INT, PRIMARY KEY (id));"
  
script: phpunit tests
